body{
    font-family:'Orbitron', cursive ;
    background-color: rgba(58, 213, 71, 0.782);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main content styles */
.main-content {
    padding: 50px 0;
}

/* Image styles */
.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.img-container img {
    max-width: 100%;
    max-height: 80%;
}

/* Text styles */
.text-container {
    max-width: 800px;
    margin: 0 auto;
}

.text-container h2 {
    margin-bottom: 30px;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.col-md-6 h2 {
    font-weight: bold;
    animation: animation-1 5s ease-in 0.2s infinite ;
    background-color: #949eddc3;
    text-align: center;
}
@keyframes animation-1 {
    0%{color: rgb(196, 244, 244);}
    25%{color: rgb(143, 246, 246);}
    50%{color: rgb(26, 131, 157);}
    75%{color: rgb(52, 106, 214);}
    100%{color: rgb(8, 8, 244);}
}
.socialbar nav ul {
    float: right;
    margin-right: 20px;
    }
.socialbar nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    }

.socialbar nav ul li:hover {
    background-color:rgb(41, 73, 163);
    }
.socialbar nav ul li a {
    text-decoration: none;
    color: rgba(99, 190, 202, 0.862);
    padding: 12px;
    display: block;
    }